body { 
    font-family: Arial, sans-serif; 
  } 
   
  header { 
    background-color: #333; 
    color: #fff; 
    padding: 10px; 
  } 
   
  form { 
    margin: 20px 0; 
  } 
   
  label { 
    font-weight: bold; 
    display: block; 
    margin-bottom: 5px; 
  } 
   
  input[type="text"] { 
    padding: 5px; 
    font-size: 16px; 
    width: 60%; 
  } 
   
  button[type="submit"] { 
    padding: 5px 10px; 
    font-size: 16px; 
    background-color: #333; 
    color: #fff; 
    border: none; 
    cursor: pointer; 
  } 
   
  #results { 
    margin-top: 20px; 
  }